/* navigation */
#navbar{
    flex-direction: column;

}
#navbar ul li a{
    padding: 0px 7px;
    padding-bottom: 8px;
    font-size: 1rem;
}
/* home */
#home{

    height: 370px;
    padding: 3px 28px;
}
#home::before{
    height: 480px;

}
#home p{
    font-size: 13px;

}

/* services */
#services{
    flex-direction: column;
    
}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}
#services .box img{
    
    height: 126px;
    margin: auto;
}


/* client section  */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}
/* contact us  */
#contact-box form{
    width: 80%;
}
/* footer  */

/*utility classes*/
.h-primary{
      font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
